<h1>TwiControlls#index</h1>
<p>Find me in app/views/twi_controlls/index.html.erb</p>
<table>
  <tr>
    <th>つぶやき一覧
    </th>
  </tr>
  <% @twiindex.each do |twiindex| %>
    <tr>
      <td><%= twiindex.content %></td>
      <td><%= link_to "編集",edit_twi_controll_path(twiindex.id) %></td>
    </tr>
  <% end %>
</table>
<div>
</div>
<%= link_to "つぶやきを投稿",new_twi_controll_path  %>
