<%= form_with(model:@view_model_twis, url:"/twi_controlls", local: true) do|form| %>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
