<p class="header">Tweet application</p>
<h1>posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<table class="index">
  <tr>
    <th>つぶやき一覧
    </th>
  </tr>
  <% @twiindex.each do |twiindex| %>
    <tr>
      <td><%= twiindex.content %></td>
      <td><%= link_to "編集",edit_post_path(twiindex.id) %></td>
      <td><%= link_to '削除', post_path(twiindex.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
  <% end %>
</table>
<div class="go_tweet">
  <%= link_to "つぶやきを投稿",new_post_path  %>
</div>
<div class="fotposi">
  <p class="footer">Tweet application</p>
</div>
